{:webserver/port #long #or [#env PORT 3001]
 :webserver/allowed-origins ["http://docs.cljs.codes" "https://docs.cljs.codes"]

 :database {:dbtype "postgres"
            :dbname #or [#env DB_NAME "postgres"]
            :username #or [#env DB_USER "postgres"]
            :password #or [#env DB_PASS "postgres"]
            :host #or [#env DB_HOST "localhost"]
            :port #or [#env DB_PORT 5432]}

 :db-docs {:dir "target"
           :url "https://github.com/clj-codes/docs.extractor/releases/download"
           :version "v0.1.2"
           :file-name "docs-db.zip"}}
