{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {codes.clj.docs.backend.adapters {inst->utc-formated-string {:arities {2 {:args [:any
                                                                                                                        :string],
                                                                                                                 :ret :string}}}},
                                        codes.clj.docs.backend.db {get-author {:arities {3 {:args [:string
                                                                                                   :keyword
                                                                                                   :any],
                                                                                            :ret {:op :keys,
                                                                                                  :req {:authors/id :any,
                                                                                                        :authors/login :string,
                                                                                                        :authors/account_source :string,
                                                                                                        :authors/avatar_url :string,
                                                                                                        :authors/created_at :any}}}}},
                                                                   insert-author {:arities {2 {:args [{:op :keys,
                                                                                                       :req {:authors/login :string,
                                                                                                             :authors/account_source :string,
                                                                                                             :authors/avatar_url :string}}
                                                                                                      :any],
                                                                                               :ret :any}}},
                                                                   insert-author-transaction {:arities {2 {:args [{:op :keys,
                                                                                                                   :req {:author/login :string,
                                                                                                                         :author/account_source :keyword,
                                                                                                                         :author/avatar_url :string}}
                                                                                                                  :any],
                                                                                                           :ret :any}}}},
                                        codes.clj.docs.backend.logics {uuid-from-string {:arities {1 {:args [:string],
                                                                                                      :ret :any}}},
                                                                       uuid-from-date-amount {:arities {2 {:args [:any
                                                                                                                  :number],
                                                                                                           :ret :any}}}},
                                        codes.clj.docs.backend.components.db-docs {download-db! {:arities {2 {:args [:any
                                                                                                                     :any],
                                                                                                              :ret :nil}}}}}}}}
